<div sidenav class="side-nav">
  <div class="sidebar">
    <ul nz-menu nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li 
        nz-menu-item 
        nz-tooltip 
        nzTooltipPlacement="right" 
        [nzTooltipTitle]="isCollapsed ? 'Navigation One' : ''" 
        nzSelected
        routerLink="/"
      >
        <i nz-icon nzType="mail"></i>
        <span>Dashboard</span>
      </li>

      <li nz-submenu nzTitle="Sales" nzIcon="appstore">
        <ul>
          <li nz-menu-item routerLink="sale/new">New Sale</li>
          <li nz-menu-item routerLink="sale/all">All Sales</li>
        </ul>
      </li>
    </ul>
  </div>
</div>