<div class="header">
    <div class="logo logo-dark">
        <a href="">
            Name
            <!-- <img src="assets/images/logo/logo.png" alt="Logo">
            <img src="assets/images/logo/logo-fold.png" alt="Logo" class="logo-fold"> -->
        </a>
    </div>

    <div class="logo logo-white">
        <a href="">
            Name
            <!-- <img src="assets/images/logo/logo-white.png" alt="Logo">
            <img src="assets/images/logo/logo-fold-white.png" alt="Logo" class="logo-fold"> -->
        </a>
    </div>
    
    <div class="nav-wrap">
        <ul class="nav-left">
            <li class="desktop-toggle">
                <a>
                    <i nz-icon="" theme="outline" class="anticon anticon-menu-fold">
                        <svg viewBox="64 64 896 896" focusable="false" fill="currentColor" width="1em" height="1em" data-icon="menu-fold" aria-hidden="true">
                            <path d="M408 442h480c4.4 0 8-3.6 8-8v-56c0-4.4-3.6-8-8-8H408c-4.4 0-8 3.6-8 8v56c0 4.4 3.6 8 8 8zm-8 204c0 4.4 3.6 8 8 8h480c4.4 0 8-3.6 8-8v-56c0-4.4-3.6-8-8-8H408c-4.4 0-8 3.6-8 8v56zm504-486H120c-4.4 0-8 3.6-8 8v56c0 4.4 3.6 8 8 8h784c4.4 0 8-3.6 8-8v-56c0-4.4-3.6-8-8-8zm0 632H120c-4.4 0-8 3.6-8 8v56c0 4.4 3.6 8 8 8h784c4.4 0 8-3.6 8-8v-56c0-4.4-3.6-8-8-8zM115.4 518.9L271.7 642c5.8 4.6 14.4.5 14.4-6.9V388.9c0-7.4-8.5-11.5-14.4-6.9L115.4 505.1a8.74 8.74 0 000 13.8z">
                            </path>
                        </svg>
                    </i>
                </a>
            </li>
            
            <li class="mobile-toggle">
                <a>
                    <i nz-icon="" theme="outline" class="anticon anticon-menu-unfold">
                        <svg viewBox="64 64 896 896" focusable="false" fill="currentColor" width="1em" height="1em" data-icon="menu-unfold" aria-hidden="true">
                            <path d="M408 442h480c4.4 0 8-3.6 8-8v-56c0-4.4-3.6-8-8-8H408c-4.4 0-8 3.6-8 8v56c0 4.4 3.6 8 8 8zm-8 204c0 4.4 3.6 8 8 8h480c4.4 0 8-3.6 8-8v-56c0-4.4-3.6-8-8-8H408c-4.4 0-8 3.6-8 8v56zm504-486H120c-4.4 0-8 3.6-8 8v56c0 4.4 3.6 8 8 8h784c4.4 0 8-3.6 8-8v-56c0-4.4-3.6-8-8-8zm0 632H120c-4.4 0-8 3.6-8 8v56c0 4.4 3.6 8 8 8h784c4.4 0 8-3.6 8-8v-56c0-4.4-3.6-8-8-8zM142.4 642.1L298.7 519a8.84 8.84 0 000-13.9L142.4 381.9c-5.8-4.6-14.4-.5-14.4 6.9v246.3a8.9 8.9 0 0014.4 7z">
                            </path>
                        </svg>
                    </i>
                </a>
            </li>
            
            <li>
                <a>
                    <i nz-icon="" nztype="search" theme="outline" class="anticon anticon-search">
                        <svg viewBox="64 64 896 896" focusable="false" fill="currentColor" width="1em" height="1em" data-icon="search" aria-hidden="true">
                            <path d="M909.6 854.5L649.9 594.8C690.2 542.7 712 479 712 412c0-80.2-31.3-155.4-87.9-212.1-56.6-56.7-132-87.9-212.1-87.9s-155.5 31.3-212.1 87.9C143.2 256.5 112 331.8 112 412c0 80.1 31.3 155.5 87.9 212.1C256.5 680.8 331.8 712 412 712c67 0 130.6-21.8 182.7-62l259.7 259.6a8.2 8.2 0 0011.6 0l43.6-43.5a8.2 8.2 0 000-11.6zM570.4 570.4C528 612.7 471.8 636 412 636s-116-23.3-158.4-65.6C211.3 528 188 471.8 188 412s23.3-116.1 65.6-158.4C296 211.3 352.2 188 412 188s116.1 23.2 158.4 65.6S636 352.2 636 412s-23.3 116.1-65.6 158.4z">

                            </path>
                        </svg>
                    </i>
                </a>
                <!-- <nz-drawer nztitle="Search" nzplacement="left"></nz-drawer> -->
            </li>
        </ul>
        
        <ul class="nav-right">
            <li>
                <span 
                    nz-dropdown 
                    nzTrigger="click" 
                    [nzDropdownMenu]="menu" 
                    class="ant-dropdown-trigger p-h-10 pointer username-circle"
                >
                    MA
                </span>

                <nz-dropdown-menu #menu="nzDropdownMenu">
                    <ul nz-menu class="p-b-15 p-t-20 settings-dropdown">
                        <li class="p-h-20 p-b-15 m-b-10 border-bottom">
                            <div class="d-flex">
                              <span class="username-circle">
                                MA
                              </span>

                              <div class="m-l-10 d-flex flex-column justify-content-center">
                                <p class="m-b-0 text-dark font-weight-semibold line-height">
                                    Muhammad Arslan
                                </p>
                                <span class="m-b-0 opacity-07 line-height dots-overflow">
                                    arslan@markupsoft.com
                                </span>
                              </div>
                            </div>
                          </li>
                        <li nz-menu-item>Edit Profile</li>
                        <li nz-menu-item>Logout</li>
                    </ul>
                </nz-dropdown-menu>
            </li>
        </ul>
    </div>
</div>

